In [601]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#import data_set
file_array = pd.read_csv('healthcare-dataset-stroke-data.csv', encoding='cp1252')

X = file_array[[]]
X['gender'] = file_array['gender']=='Male'
X['ever_married'] = file_array['ever_married']=='Yes'
X['self-employed'] = file_array['work_type']=='Self-employed'
X['age'] = file_array['age']

y = file_array['hypertension']

X

<ipython-input-601-ce71168ce4ae>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['gender'] = file_array['gender']=='Male'
<ipython-input-601-ce71168ce4ae>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ever_married'] = file_array['ever_married']=='Yes'
<ipython-input-601-ce71168ce4ae>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['self-employed'] = file_array['work_type']=='Self-employed'
<ipython-input-601-ce71168ce4ae>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['age'] = file_array['age']

      gender  ever_married  self-employed   age
0       True          True          False  67.0
1      False          True           True  61.0
2       True          True          False  80.0
3      False          True          False  49.0
4      False          True           True  79.0
...      ...           ...            ...   ...
5105   False          True          False  80.0
5106   False          True           True  81.0
5107   False          True           True  35.0
5108    True          True          False  51.0
5109   False          True          False  44.0

[5110 rows x 4 columns]

In [602]:
#create a model
model = DecisionTreeClassifier()

In [603]:
#train the model
model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [604]:
#predict
predictions = model.predict([ [0, 0, 0, 28] ])
predictions

array([0])

In [607]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.9047619047619048